*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;   
    color:white;
}
body{
    overflow-x: hidden;
    background-color: #151922;
    background-image: url("/COS10026-assignment-1/images/index-page.jpg");
}

header{
    margin-top: 10px;
}

a{
    text-decoration: none;
}

/* index page(HOang Minh) */

/* index page(HOang Minh) */

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .logo{
    margin-left: 5%;
    padding-top: 2%;
}
.menu .logo img{
    max-width: 100px;
}
.menu .logo img:hover{
    scale: 1.2;
    transition: 2s;
}

.menu .nav-bar a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin: 0 15px;
    transition: 0.3s;
    font-size: 20px;
}

.nav-bar a::before{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 0;
    background-color: #f74f10;
    height: 2px;
    transition: 0.5s;
}

.nav-bar a:hover::before,
.nav-bar a:hover{
    color: #f74f10;
    width: 100%;
}
.login{
    margin-right: 50px;
}
header .login a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

header .login a:hover{
    zoom: 1.1;
    color: #f74f10;
    text-decoration: underline;
    transition: 2s;
}

/* footer */
footer{
    width: 100%;
    margin-top: 30px;
    position: absolute;
    background-color: #0093c0;
    color: white;
    padding: 60px 0 30px 100px;
    font-size: 15px;
    
}
.row{
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    flex-basis: 20%;
    padding: 10px;
}
.col img{
    width: 100px;
    margin-bottom: 20px;
}
.col h3{
    margin-bottom: 60px;
    font-size: 20px;
}
.col li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}


.col li a:hover{
    color: #f74f10;
}
.col form{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between  ;
}
form input{
    width: 200px;
    background: transparent;
    color: white;
    border: 0;
}
form input::placeholder{
    color: white;
}
form button{
    background: transparent;
    color: white;
    border: 0 ;
}
.col .social{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 30px;
    letter-spacing: 10px;
}
.col .social i:hover{
    zoom: 1.2;
    color: #f74f10;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.underline{
    width: 60px;
    height: 4px;
    background: #767676;
    border-radius: 2px;
}
.underline span{
    width: 10px;
    height: 100%;
    background: white;
    border-radius: 2px;
    position: absolute;
    left: 5px;
}
@keyframes animate{
    0%{
      width: 0ch;
    }
    100%{
      width: 100ch;
    }
}

@media(max-width:1342px){
    .head-cont .main-cont h1{
        font-size: 28px;
    }
    .head-cont .main-cont h4{
        font-size: 15px;
    }
    
    .head-cont .main-cont .order button{
        font-size: 15px;
        width: 200px;
        height: 40px;
    
    }
    .head-cont .image img{
        width: 530px;
    }
    .sub-cont h2{
        font-size: 30px;
    }
    .second-cont .image img{
        width: 350px;
    }
    .second-cont .main-cont h4{
        font-size: 18px;
    }

    section .product-head h2{
        font-size: 30px;
    }

    section .product1 .image img{
        width: 480px;
    }
    section .product2 .image img{
        width: 450px;
    }
    section .product2 .product-cont{
        padding-left: 20px;
        padding-bottom: 40px;
    }
    .founder .detail .detail-img img{
        width: 500px;
    }
    .founder .detail .detail-text h5{
        font-size: 10px;
    }
    .founder .detail .detail-text h3{
        font-size: 20px;
    }
    .founder .detail .detail-text #main{
        font-size: 15px;
    }
    footer .col .social{
        font-size: 20px;
    }
}

@media(max-width:1228px){
    .founder .detail .detail-img img{
        width: 400px;
    }
    .founder .detail .detail-text h5{
        font-size: 8px;
    }
    .founder .detail .detail-text h3{
        font-size: 15px;
    }
    .founder .detail .detail-text #main{
        font-size: 12px;
    }
    .founder .detail .detail-text #sub{
        font-size: 10px;
    }
    footer .row{
        width: 80%;
    }
}

 

@media(max-width:800px){
    .head-cont{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

    }
    .head-cont .main-cont h1{
        font-size: 20px;
        align-items: center;
    }
}

/*about page */
.about_page{
    line-height: 1.6;
}

.about_info{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    text-align: justify;
}

.about_info br{
    margin-bottom: 30px;
}

.about_title{
    margin-bottom: 10px;
}

.about_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%
}

.about_links_box{
    display: flex;
    align-items: left;
    flex-direction: column;
}

.about_image{
    width: 100%;
    height: auto;
    max-width: 576px;
}

.about_image:hover{
    opacity: 70%;
}

.about_links_head{
    font-weight: bold;
    font-size: 130%;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
}

.about_links_head:hover{
    color: #f74f10;
    transition: .5s;
}

.about_links_desc{
    text-align: left;
}

/*new team page*/

.about_header{
    text-align: center;
    margin: 20px 0 20px 0;
}

.about_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 0 5% 0 5%;
    background-color: #252525;
    border-radius: 25px;
}

dt{
    font-weight: bold;
    float: left;
    width: 128px;
    clear: both;
    margin-bottom: 10px;
}

dd{
    margin-left: 128px;
    margin-bottom: 10px;
}

.tutor_pfp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 10px 0 10px 0;
}

.figure{
    text-align: center;
}

.figure img{
    height: auto;
    max-width: 256px;
    border: 5px solid #000000;
    border-radius: 25px;
}

.members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5% 0 5%;
    line-height: 1.6;
    gap: 10px;
    background-color: #252525;
    border-radius: 25px;
}

.mem_box{
    border-right: 1px solid #ffffff;
}

.mem_box:nth-child(3){
    border: 0;
}

.mem_center{
    text-align: center;
}

.mem_center img{
    margin-top: 20px;
    width: 80%;
    height: auto;
    max-width: 384px;
    border: 5px solid #000000;
    border-radius: 25px;
}

.mem_name{
    font-weight: bold;
    font-size: 150%;
}

.mem_desc{
    margin: 0 10px 0 10px;
    text-align: justify;
}

.mem_socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    font-size: 200%;
    margin: 10px 0 20px 0;
}

.mem_socials a:hover{
    color: #f74f10;
    transition: .5s;
}

.schedule{
    align-items: center;
}

.table{
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

td, th{
    border: 5px solid #000000;
}

th{
    background-color: #2c3037;
}

td{
    background-color: #202530;
}

td:hover, th:hover{
    background-color: #f74f10;
    transition: .5s;
}

.table tr{
    height: 75px;
}

.table th{
    width: 12.5%;
    font-size: 125%;
}

@media(max-width: 1000px){
    .about_links_head{
        font-size: 100%;
    }
}

@media(max-width: 800px){
    .about_info{
        font-size: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .about_links{
        flex-direction: column;
    }

    .about_links_box{
        margin-bottom: 40px;
    }

    .about_links_head{
        font-size: 150%;
    }

    .team_page{
        font-size: 80%;
    }

    .about_group{
        flex-direction: column;
    }

    dl{
        margin-top: 20px;
        margin-left: 20px;
    }

    .members{
        flex-direction: column;
    }

    .mem_box{
        border: 0;
        border-bottom: 1px solid #ffffff;
    }

    .mem_box:nth-child(3){
        border-bottom: 0;
    }

    .mem_socials{
        font-size: 200%;
    }

    .schedule{
        overflow: scroll;
    }

    .table{
        width: 1000px;
    }
}